body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff9f43, #ff6f00);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Login */
#loginBox {
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

/* Chat */
#chatBox {
  width: 340px;
  background: white;
  padding: 15px;
  border-radius: 15px;
}

h2 {
  text-align: center;
  color: #ff6f00;
}

#chat {
  height: 230px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Bubbles */
.bubble {
  max-width: 75%;
  padding: 8px 10px;
  border-radius: 12px;
  font-size: 14px;
}

.me {
  background: #ff6f00;
  color: white;
  align-self: flex-end;
}

.them {
  background: #f1f1f1;
  align-self: flex-start;
}

/* Typing */
#typing {
  font-size: 12px;
  color: #555;
  margin: 5px;
  height: 14px;
}

/* Input */
#inputArea {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #ff6f00;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
}
